Flask>=1.0.2
Jinja2>=2.10.1
pymisp>=2.4.134
PyYAML>=5.1
validators>=0.12.5
whitenoise>=4.1.2
Flask-Limiter>=1.0.1
tld>=0.12.5
flask-caching>=1.10.1
loguru>=0.6.0
gunicorn

# needed for hash
importlib-metadata
importlib-resources
