<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T">
    <title>IOC lookup</title>
</head>
<body>
<div class="container">
    <h3 class="pt-3">IOC lookup</h3>
    <p class="float-right">Logged in as: {{ user.identifier }}</p>
    <form method="post">
      <div class="form-group">
        <label for="inputQuery1">IOC entity search</label>
        <input type="text" class="form-control {% if error %}is-invalid{% endif %}" id="inputQuery1" name="search_query" aria-describedby="searchQueryHelp" placeholder="Search for {% for typ in supported_types %}{{ typ }}{% if not loop.last %}, {% endif %}{% endfor %}">
        <div class="invalid-feedback">
          {{ error }}
        </div>
        <small id="searchHelp" class="form-text text-muted">Supported queries: {% for typ in supported_types %}{{ typ }}{% if not loop.last %}, {% endif %}{% endfor %}</small>
      </div>
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
    {% if result is defined %}

        <h4 class="pt-3">Result for {{ parsed_search_query.value }} ({% for typ in parsed_search_query.search_types %}{{ typ.value }}{% if not loop.last %}, {% endif %}{% endfor %})</h4>
        {% if parent_domain_name %}
            <small id="resultHelp" class="text-muted">No result for {{ parsed_search_query.value }} ({% for typ in parsed_search_query.search_types %}{{ typ.value }}{% if not loop.last %}, {% endif %}{% endfor %}) found, showing result for {{ parent_domain_name }}.</small>
        {% endif %}
        <div class="card bg-light">
            <div class="card-body">
                {% for item in result %}
                    {% set votes = sightings_data.votes.get(item.id) %}
                    <pre><a href="{{ misp_url }}events/view/{{ item.event_id }}">MISP event {{ item.event_id }}</a> | {{ item.timestamp|ts }} | {{ item.value }} | {{ item.comment }} | Sightings: <a data-toggle="collapse" href="#orgSightingPositiveCollapse{{ loop.index0 }}" role="button" aria-expanded="false" aria-controls="orgSightingPositiveCollapse{{ loop.index0 }}"><span class="badge badge-pill badge-success">{{ votes.positives }}</span></a> | False-positives: <a data-toggle="collapse" href="#orgSightingNegativeCollapse{{ loop.index0 }}" role="button" aria-expanded="false" aria-controls="orgSightingNegativeCollapse{{ loop.index0 }}"><span class="badge badge-pill badge-danger">{{ votes.negatives }}</span></a></pre>
                    <div class="row">
                        <div class="col">
                            <div class="collapse multi-collapse mb-3" id="orgSightingPositiveCollapse{{ loop.index0 }}">
                            {% for org in votes.positive_orgs %}
                                <span class="badge badge-pill badge-success">{{ org }}</span>
                            {% endfor %}
                            </div>
                        </div>
                        <div class="col">
                            <div class="collapse multi-collapse mb-3" id="orgSightingNegativeCollapse{{ loop.index0 }}">
                                {% for org in votes.negative_orgs %}
                                    <span class="badge badge-pill badge-danger">{{ org }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% if loop.last %}
                        <pre>Note: Event links requires access to MISP.</pre>
                    {% endif %}
                {% else %}
                    <pre>No data</pre>
                {% endfor %}
            </div>
        </div
        {% if result and not parent_domain_name %}>
            <div class="row mt-1">
                <div class="col">
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        {% if sightings_data.can_add_sighting %}
                            <div class="btn-group mr-2" role="group">
                                <form class="form-inline" action="{{ url_for('report_sighting') }}" method="post">
                                    <input type="hidden" name="search_query" value="{{ parsed_search_query.value }}" />
                                    <input type="hidden" name="type" value="0" />
                                    <span class="d-inline-block" tabindex="0" {% if not user.in_trusted_org %}data-toggle="tooltip" data-placement="bottom" title="Only trusted organizations can vote"{% endif %}>
                                        <button class="btn btn-success" type="submit" {% if not user.in_trusted_org %}disabled{% endif %}>Add sighting</button>
                                    </span>
                                </form>
                            </div>
                        {% else %}
                            <div class="btn-group mr-2" role="group">
                                <form class="form-inline" action="{{ url_for('remove_sighting') }}" method="post">
                                    <input type="hidden" name="search_query" value="{{ parsed_search_query.value }}" />
                                    <input type="hidden" name="type" value="0" />
                                    <span class="d-inline-block" tabindex="0" {% if not user.in_trusted_org %}data-toggle="tooltip" data-placement="bottom" title="Only trusted organizations can vote"{% endif %}>
                                        <button class="btn btn-warning" type="submit" {% if not user.in_trusted_org %}disabled{% endif %}>Remove sighting</button>
                                    </span>
                                </form>
                            </div>
                        {% endif %}
                        {% if sightings_data.can_add_false_positive %}
                            <div class="btn-group mr-2" role="group">
                                <form class="form-inline" action="{{ url_for('report_sighting') }}" method="post">
                                    <input type="hidden" name="search_query" value="{{ parsed_search_query.value }}" />
                                    <input type="hidden" name="type" value="1" />
                                    <span class="d-inline-block" {% if not user.in_trusted_org %}tabindex="0" data-toggle="tooltip" data-placement="bottom" title="Only trusted organizations can vote"{% endif %}>
                                        <button class="btn btn-danger" type="submit" {% if not user.in_trusted_org %}disabled{% endif %}>Mark as false-positive</button>
                                    </span>
                                </form>
                            </div>
                        {% else %}
                            <div class="btn-group mr-2" role="group">
                                <form class="form-inline" action="{{ url_for('remove_sighting') }}" method="post">
                                    <input type="hidden" name="search_query" value="{{ parsed_search_query.value }}" />
                                    <input type="hidden" name="type" value="1" />
                                    <span class="d-inline-block" tabindex="0" {% if not user.in_trusted_org %}data-toggle="tooltip" data-placement="bottom" title="Only trusted organizations can vote"{% endif %}>
                                        <button class="btn btn-warning" type="submit" {% if not user.in_trusted_org %}disabled{% endif %}>Remove mark as false-positive</button>
                                    </span>
                                </form>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
        {% if parent_domain_name or not result %}
            <hr>
            <h6 class="mt-2">Report event</h6>
            <form class="form-inline" action="{{ url_for('report') }}" method="post">
              <div class="form-group mb-2">
                <label for="reportQuery1" class="sr-only">{% for typ in supported_types %}{{ typ }}{% if not loop.last %}, {% endif %}{% endfor %}</label>
                <input type="text" readonly class="form-control" id="reportQuery1" name="report_query" value="{{ parsed_search_query.value }}">
              </div>
              <div class="form-group mx-sm-3 mb-2">
                <label for="inputReference1" class="sr-only">Reference</label>
                <input type="text" class="form-control" id="inputReference1"
                       name="reference" aria-describedby="referenceHelp" placeholder="Enter reference (Optional)">
              </div>
              <button type="submit" class="btn btn-primary mb-2">Report</button>
            </form>
        {% endif %}
    {% endif %}
    {% if related_result %}
        <h5 class="pt-3">Related results</h5>
        {% if related_results_limit %}<small>Display limit {{ related_results_limit }} event{% if related_results_limit > 1 %}s{% endif %}</small>{% endif %}
        <div class="card bg-light">
            <div class="card-body">
                {% for item in related_result %}
                    <pre><a href="{{ misp_url }}events/view/{{ item.event_id }}">MISP event {{ item.event_id }}</a> | {{ item.timestamp|ts }} | {{ item.value }} | {{ item.comment }}</pre>
                    {% if loop.last %}
                        <pre>Note: Event links requires access to MISP.</pre>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="btn-toolbar mt-1" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group">
                <form method="post">
                    <input type="hidden" id="inputQuery2" name="search_query" value="{{ parsed_search_query.value }}">
                    <input type="hidden" id="inputLimit2" name="limit_related_results" value="no">
                    <button type="submit" class="btn btn-primary">Get all related results</button>
                </form>
            </div>
        </div>
    {% endif %}
    <hr>
    <p>If you want to report multiple entities, use the <a href="{{ url_for('report') }}">bulk report form</a>.</p>
</div>
<script src="{{ url_for('static', filename='js/jquery-3.5.1.slim.min.js') }}" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}" integrity="sha384-szbKYgPl66wivXHlSpJF+CKDAVckMVnlGrP25Sndhe+PwOBcXV9LlFh4MUpRhjIB"></script>
</body>
</html>
