<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T">
    <meta charset="UTF-8">
    <title>IOC lookup - Report result</title>
</head>
<body>
<div class="container">
    {% if result is undefined %}
        <h4 class="pt-3">Bulk report</h4>
        <p class="float-right">Logged in as: {{ user.identifier }}</p>
        <form method="post">
          <div class="form-group">
            <label for="inputQuery1">Entities for reporting</label>
            <textarea type="text" class="form-control {% if "entities" in error %}is-invalid{% endif %}" id="inputQuery1" name="ioc" aria-describedby="queryHelp" placeholder="Enter {% for typ in supported_types %}{{ typ }}{% if not loop.last %}, {% endif %}{% endfor %} to report" rows="3"></textarea>
            <small id="queryHelp" class="form-text text-muted">Supported types: {% for typ in supported_types %}{{ typ }}{% if not loop.last %}, {% endif %}{% endfor %}. One per line.</small>
          </div>
          <div class="form-group">
            <label for="by_proxy">Report by proxy</label><br/>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="by_proxy" name="by_proxy">
                <label class="form-check-label" for="by_proxy">By proxy</label>
            </div>
          </div>
          <div class="form-group">
            <label for="inputInfo1">Event info</label>
            <input type="text" class="form-control {% if "info" in error %}is-invalid{% endif %}" id="inputInfo1"
                   name="info" aria-describedby="infoHelp" placeholder="Enter description"/>
            <small id="referenceHelp" class="form-text text-muted">Enter a description of the event</small>
          </div>
          <div class="form-group">
            <label for="tags">Tags</label><br/>
            {% for tag in supported_tags %}
                <div class="form-check form-check-inline"  id="tags">
                    <input class="form-check-input" type="checkbox" id="tag_{{ tag }}" name="tag_{{ tag }}">
                    <label class="form-check-label" for="tag_{{ tag }}">{{ tag }}</label>
                </div>
            {% endfor %}
          </div>
          <div class="form-group">
            <label for="TLPSelect">Distribution</label>
              <select class="form-control" id="TLPSelect" name="tlp">
                  {% for value in tlp.values() %}
                      <option>{{ value }}</option>
                  {% endfor %}
              </select>
          </div>
          <div class="form-group">
            <label for="inputReference1">Reference (Optional)</label>
            <input type="text" class="form-control" id="inputReference1"
                   name="reference" aria-describedby="referenceHelp" placeholder="Enter reference"/>
            <small id="referenceHelp" class="form-text text-muted">Enter a reference if any, ex. ticket number or similar</small>
          </div>
          {% if error %}
            {% for key, value in error.items() %}
                {% if key == 'parse_errors' %}
                    <p class="alert-danger">
                    {% for x in value %}
                        Line {{ x.line }} - {{ x.message }}<br />
                    {% endfor %}
                    </p>
                {% else %}
                    <p class="alert-danger">{{ value }}</p>
                {% endif %}
            {% endfor %}
          {% endif %}
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    {% else %}
        <h4 class="pt-3">Report result</h4>
        <div class="card bg-light">
            <div class="card-body">
                {% if result %}
                    {% for item in reported_items %}
                        {% if loop.last %}
                            <pre>{% if loop.length > 1 %}and {% endif %}{{ item.value }} ({% for typ in item.report_types %}{{ typ.value }}{% if not loop.last %}, {% endif %}{% endfor %}) reported successfully.</pre>
                        {% else %}
                            <pre>{{ item.value }} ({% for typ in item.report_types %}{{ typ.value }}{% if not loop.last %}, {% endif %}{% endfor %}),</pre>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <pre>{{ error }}</pre>
                {% endif %}
            </div>
        </div>
    {% endif %}
    <a class="float-right" href="{{ url_for('index') }}">Back</a>
</div>
</body>
</html>
