<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T">
    <meta charset="UTF-8">
    <title>IOC domain lookup - Report result</title>
</head>
<body>
<div class="container">
    {% if result is undefined %}
        <h4 class="pt-3">Bulk report</h4>
        <p class="float-right">Logged in as: {{ user.identifier }}</p>
        <form method="post">
          <div class="form-group">
            <label for="inputQuery1">Domain names and/or URLs for reporting</label>
            <textarea type="text" class="form-control {% if error %}is-invalid{% endif %}" id="inputQuery1" name="report_query" aria-describedby="queryHelp" placeholder="Enter domain names or URLs to report" rows="3"></textarea>
            <small id="queryHelp" class="form-text text-muted">Enter multiple FQDN or URLs ex. host.example.com or https://host.example.com/path. One per line.</small>

            <label for="inputReference1">Reference (Optional)</label>
            <input type="text" class="form-control" id="inputReference1"
                   name="reference" aria-describedby="referenceHelp" placeholder="Enter reference"/>
            <small id="referenceHelp" class="form-text text-muted">Enter a reference if any, ex. ticket number or similar</small>
            <div class="invalid-feedback">
              {{ error }}
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    {% else %}
        <h4 class="pt-3">Report result</h4>
        <div class="card bg-light">
            <div class="card-body">
                {% if result %}
                    {% for item in reported_items %}
                        {% if loop.last %}
                            <pre>{% if loop.length > 1 %}and {% endif %}{{ item.type.name }} {{ item.name }} reported successfully.</pre>
                        {% else %}
                            <pre>{{ item.type.name }} {{ item.name }},</pre>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <pre>{{ error }}</pre>
                {% endif %}
            </div>
        </div>
    {% endif %}
    <a class="float-right" href="{{ url_for('index') }}">Back</a>
</div>
</body>
</html>
