<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T">
    <title>RPZ domain lookup</title>
</head>
<body>
<div class="container">
    <h3 class="pt-3">RPZ domain lookup</h3>
    <p class="float-right">Logged in as: {{ user.identifier }}</p>
    <form method="post">
      <div class="form-group">
        <label for="inputDomain1">Domain name search</label>
        <input type="text" class="form-control {% if error %}is-invalid{% endif %}" id="inputDomain1" name="domain_name" aria-describedby="domainNameHelp" placeholder="Search for domain name">
        <div class="invalid-feedback">
          {{ error }}
        </div>
        <small id="domainHelp" class="form-text text-muted">Enter a FQDN ex. host.example.com</small>
      </div>
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
    {% if result is defined %}
        <h4 class="pt-3">Result for {{ original_domain_name }}</h4>
        {% if parent_domain_name %}
            <small id="resultHelp" class="text-muted">No result for {{ original_domain_name }} found, showing result for {{ parent_domain_name }}.</small>
        {% endif %}
        <div class="card bg-light">
            <div class="card-body">
                {% for item in result %}
                    {% set votes = sightings_data.votes.get(item.id) %}
                    <pre><a href="{{ misp_url }}events/view/{{ item.event_id }}">MISP event {{ item.event_id }}</a> | {{ item.timestamp|ts }} | {{ item.value }} | {{ item.comment }} | Sightings: <span class="badge badge-pill badge-success">{{ votes.positives }}</span> | False-positives: <span class="badge badge-pill badge-danger">{{ votes.negatives }}</span></pre>
                    {% if loop.last %}
                        <pre>Note: Event links requires access to MISP.</pre>
                    {% endif %}
                {% else %}
                    <pre>No data</pre>
                {% endfor %}
            </div>
        </div
        {% if result and not parent_domain_name %}>
            <div class="row mt-1">
                <div class="col">
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        {% if sightings_data.can_add_sighting %}
                            <div class="btn-group mr-2" role="group">
                                <form class="form-inline" action="{{ url_for('report_sighting') }}" method="post">
                                    <input type="hidden" name="domain_name" value="{{ original_domain_name }}" />
                                    <input type="hidden" name="type" value="0" />
                                    <span class="d-inline-block" tabindex="0" {% if not user.in_trusted_org %}data-toggle="tooltip" data-placement="bottom" title="Only trusted organizations can vote"{% endif %}>
                                        <button class="btn btn-success" type="submit" {% if not user.in_trusted_org %}disabled{% endif %}>Add sighting</button>
                                    </span>
                                </form>
                            </div>
                        {% else %}
                            <div class="btn-group mr-2" role="group">
                                <form class="form-inline" action="{{ url_for('remove_sighting') }}" method="post">
                                    <input type="hidden" name="domain_name" value="{{ original_domain_name }}" />
                                    <input type="hidden" name="type" value="0" />
                                    <span class="d-inline-block" tabindex="0" {% if not user.in_trusted_org %}data-toggle="tooltip" data-placement="bottom" title="Only trusted organizations can vote"{% endif %}>
                                        <button class="btn btn-warning" type="submit" {% if not user.in_trusted_org %}disabled{% endif %}>Remove sighting</button>
                                    </span>
                                </form>
                            </div>
                        {% endif %}
                        {% if sightings_data.can_add_false_positive %}
                            <div class="btn-group mr-2" role="group">
                                <form class="form-inline" action="{{ url_for('report_sighting') }}" method="post">
                                    <input type="hidden" name="domain_name" value="{{ original_domain_name }}" />
                                    <input type="hidden" name="type" value="1" />
                                    <span class="d-inline-block" {% if not user.in_trusted_org %}tabindex="0" data-toggle="tooltip" data-placement="bottom" title="Only trusted organizations can vote"{% endif %}>
                                        <button class="btn btn-danger" type="submit" {% if not user.in_trusted_org %}disabled{% endif %}>Mark as false-positive</button>
                                    </span>
                                </form>
                            </div>
                        {% else %}
                            <div class="btn-group mr-2" role="group">
                                <form class="form-inline" action="{{ url_for('remove_sighting') }}" method="post">
                                    <input type="hidden" name="domain_name" value="{{ original_domain_name }}" />
                                    <input type="hidden" name="type" value="1" />
                                    <span class="d-inline-block" tabindex="0" {% if not user.in_trusted_org %}data-toggle="tooltip" data-placement="bottom" title="Only trusted organizations can vote"{% endif %}>
                                        <button class="btn btn-warning" type="submit" {% if not user.in_trusted_org %}disabled{% endif %}>Remove mark as false-positive</button>
                                    </span>
                                </form>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
        {% if parent_domain_name or not result %}
            <hr>
            <h6 class="mt-2">Report domain</h6>
            <form class="form-inline" action="{{ url_for('report') }}" method="post">
              <div class="form-group mb-2">
                <label for="inputDomains1" class="sr-only">Domain</label>
                <input type="text" readonly class="form-control" id="inputDomains1" name="domain_names" value="{{ original_domain_name }}">
              </div>
              <div class="form-group mx-sm-3 mb-2">
                <label for="inputReference1" class="sr-only">Reference</label>
                <input type="text" class="form-control" id="inputReference1"
                       name="reference" aria-describedby="referenceHelp" placeholder="Enter reference (Optional)">
              </div>
              <button type="submit" class="btn btn-primary mb-2">Report</button>
            </form>
        {% endif %}
    {% endif %}
    <hr>
    <p>If you want to report multiple domains, use the <a href="{{ url_for('report') }}">bulk report form</a>.</p>
</div>
<script src="{{ url_for('static', filename='js/jquery-3.5.1.slim.min.js') }}" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}" integrity="sha384-szbKYgPl66wivXHlSpJF+CKDAVckMVnlGrP25Sndhe+PwOBcXV9LlFh4MUpRhjIB"></script>
</body>
</html>
