<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T">
    <meta charset="UTF-8">
    <title>RPZ domain lookup - Report result</title>
</head>
<body>
<div class="container">
    {% if result is undefined %}
        <h4 class="pt-3">Bulk report</h4>
        <p class="float-right">Logged in as: {{ user }}</p>
        <form method="post">
          <div class="form-group">
            <label for="inputDomains1">Domain names</label>
            <textarea type="text" class="form-control {% if error %}is-invalid{% endif %}" id="inputDomains1" name="domain_names" aria-describedby="domainNameHelp" placeholder="Enter domain names" rows="3"></textarea>
            <div class="invalid-feedback">
              {{ error }}
            </div>
            <small id="domainHelp" class="form-text text-muted">Enter multiple FQDN ex. host.example.com. One per line</small>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    {% else %}
        <h4 class="pt-3">Report result</h4>
        <div class="card bg-light">
            <div class="card-body">
                {% if result %}
                    {% for domain_name in domain_names %}
                        {% if loop.last %}
                            <pre>{% if loop.length > 1 %}and {% endif %}{{ domain_name }} reported successfully.</pre>
                        {% else %}
                            <pre>{{ domain_name }},</pre>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <pre>{{ error }}</pre>
                {% endif %}
            </div>
        </div>
    {% endif %}
    <a class="float-right" href="{{ url_for('index') }}">Back</a>
</div>
</body>
</html>